@charset "UTF-8";

@font-face {
  font-family: "devtools";
  src:url("fonts/devtools.eot");
  src:url("fonts/devtools.eot?#iefix") format("embedded-opentype"),
    url("fonts/devtools.woff") format("woff"),
    url("fonts/devtools.ttf") format("truetype"),
    url("fonts/devtools.svg#devtools") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "devtools" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dev-"]:before,
[class*=" dev-"]:before {
  font-family: "devtools" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dev-github:before {
  content: "\61";
}
.dev-lock:before {
  content: "\62";
}
.dev-code:before {
  content: "\63";
}
.dev-code-1:before {
  content: "\64";
}
.dev-character:before {
  content: "\65";
}
.dev-terminal:before {
  content: "\66";
}
.dev-settings:before {
  content: "\67";
}
.dev-sun:before {
  content: "\68";
}
.dev-source-code:before {
  content: "\69";
}
.dev-star:before {
  content: "\6a";
}
