/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  "secondary": #5f5f5f
);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/media";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/close";

.ToolBody {
  justify-content: space-around;
}

@media only screen and (min-width: 425px) {
  .ToolBody {
    height: 231px;
  }
}

@media only screen and (max-width: 767px) {
  .ToolImg {
    width: 60px;
    height: 60px;
    font-size: 50px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .ToolImg {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 90px;
  }
}

@media only screen and (min-width: 1024px) {
  .ToolImg {
    text-align: center;
    width: 200px;
    height: 200px;
    font-size: 150px;
  }
}

@media only screen and (min-width: 1440px) {
  .ToolImg {
    text-align: center;
    width: 200px;
    height: 200px;
    font-size: 150px;
  }
}
.ToolDescription {
  height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1px rgba(0, 123, 255, 0.25); //overide bootstrap
}
.btn:focus,
.btn:active {
  box-shadow: none !important;
}

button:focus {
  outline: 0;
}

/* Pop */
@keyframes pop {
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.pop {
  display: inline-block;

  &:hover {
    animation-name: pop;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
}

.OpenModal {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background-color: #eee;
  background-image: linear-gradient(top, #fff, #f0f0f0);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.OpenModal:hover {
  border-color: #999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.OpenModal:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}
.ModalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.ModalOverlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.ModalOverlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.ModalOverlay:target {
  visibility: visible;
  opacity: 1;
}
.Modal {
  width: 90%;
  min-height: 200px;
  margin: 3px;
  padding: 15px;
  border-radius: 0.25rem !important;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 1024px) {
  .Modal {
    min-height: 350px;
    width: 50%;
  }
}

.Modal.light {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.Modal.close {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px !important;
}
.Modal.close:hover {
  opacity: 1;
}
.Modal .content {
  /* max-height: 400px; */
  overflow: auto;
}
